<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <properties>
        <property name="pattern">%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}" />
        </Console>

        <RollingFile name="AllLogFile" fileName="logs/all.log"
                     filePattern="logs/$${date:yyyy-MM}/all-%d{yyyy-MM-dd}-%i.log.gz" append="true">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                <SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
            </Policies>
        </RollingFile>

        <RollingFile name="WebserviceLogFile" fileName="logs/webservice.log"
                     filePattern="logs/$${date:yyyy-MM}/webservice-%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false" append="true">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
                <SizeBasedTriggeringPolicy size="100 MB"/> <!-- Or every 100 MB -->
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="cz.tomasdvorak.eet.client.logging" level="INFO" additivity="false">
            <AppenderRef ref="WebserviceLogFile"/>
            <AppenderRef ref="AllLogFile" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="AllLogFile" />
        </Root>
    </Loggers>
</Configuration>